[submodule "numcalc/numcalcium-base"]
	path = numcalc/numcalcium-base
	url = https://github.com/purewack/numcalcium-base.git
[submodule "numcalc/libintdsp"]
	path = numcalc/libintdsp
	url = https://github.com/purewack/libintdsp.git
[submodule "micropython"]
	path = micropython
	url = https://github.com/purewack/micropython.git
